<div class="container">
  <div class="paciente-diagnostico-container">
  
    <div class="info-paciente">
      <h3>Paciente :</h3>
      <p><strong>Nombres:</strong> {{ paciente?.nombres | titlecase }}</p>
      <p><strong>Apellidos:</strong> {{ paciente?.apellidos | titlecase }}</p>
    </div>

    <div class="titulo-diagnostico">
      <h3>Examen</h3>
      <input type="text" [(ngModel)]="titulo" placeholder="Ingrese el tipo de examen..." />
    </div>

    <div class="descripcion-diagnostico">
      <h3>Descripción del Diagnóstico</h3>
      <textarea [(ngModel)]="descripcion" rows="4" placeholder="Escribe la descripción aquí..."></textarea>
    </div>

    <div class="recomendaciones-diagnostico">
      <h3>Recomendaciones</h3>
      <textarea [(ngModel)]="recomendaciones" rows="2" placeholder="Escribe las recomendaciones aquí..."></textarea>
    </div>

    <div class="botones">
      <button class="boton-accion agregar" 
              (click)="agregarDiagnostico()" 
              [disabled]="!descripcion || !recomendaciones || !titulo">
        Agregar Diagnóstico
      </button>
      <button class="boton-accion cancelar" (click)="cancelar()">Cancelar</button>
    </div>

  </div>
</div>