<div *ngIf="turnos$ | async as turnos; else noCitas">
  <div class="turnos-table-container">
    <table class="turnos-table" *ngIf="turnos.length > 0; else noCitas">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Estado</th>
          <th>Médico</th>
          <th>Dirección del Consultorio</th>
          <th>Instrucciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos">
          <td>{{ turno.fecha }}</td>
          <td>{{ turno.hora }}</td>
          <td>{{ turno.estado }}</td>
          <td>{{ turno.nombreMedico }}</td>
          <td>{{ turno.detallesMedico?.direccionConsultorio || 'N/A' }}</td>
          <td>{{ turno.instrucciones || 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noCitas>
  <p *ngIf="showNoCitasMessage">No tienes citas agendadas.</p>
</ng-template>