<div *ngIf="turnos$ | async as turnos; else noCitas">
  <div class="turnos-table-container">
    <table class="turnos-table" *ngIf="turnos.length > 0; else noCitas">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Estado</th>
          <th>Médico</th>
          <th>Dirección del Consultorio</th>
          <th>Instrucciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos" (click)="seleccionarTurno(turno)" [ngClass]="{ 'turno-seleccionado': turno === turnoSeleccionado }">
          <td>{{ turno.fecha }}</td>
          <td>{{ turno.hora }}</td>
          <td>{{ turno.estado }}</td>
          <td>{{ turno.nombreMedico }}</td>
          <td>{{ turno.detallesMedico?.direccionConsultorio || 'N/A' }}</td>
          <td>{{ turno.instrucciones || 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noCitas>
  <p *ngIf="showNoCitasMessage">No tienes citas agendadas.</p>
</ng-template>

<div *ngIf="turnoSeleccionado" class="turno-container"
  [ngClass]="{ 'solicitud-pendiente': solicitudPendiente }">
  <h2 class="turno-titulo">Turno Seleccionado</h2>
  <div class="turno-details">
    <p><strong>Fecha:</strong> {{ turnoSeleccionado.fecha }}</p>
    <p><strong>Hora:</strong> {{ turnoSeleccionado.hora }}</p>
    <p><strong>Estado:</strong> {{ turnoSeleccionado.estado }}</p>
    <p><strong>Médico:</strong> {{ turnoSeleccionado.nombreMedico }}</p>
    <p><strong>Instrucciones:</strong> {{ turnoSeleccionado.instrucciones || 'N/A' }}</p>
    <p><strong>Dirección Consultorio:</strong> {{ turnoSeleccionado.detallesMedico?.direccionConsultorio || 'N/A' }}</p>
  </div>
  <div class="solicitud-actions">
    <p *ngIf="solicitudPendiente" class="warning-message">
      Existe una solicitud pendiente para este turno.
    </p>
    <button 
      class="solicitud-btn" 
      [disabled]="solicitudPendiente" 
      (click)="abrirModalSolicitarCambio(turnoSeleccionado)">
      Solicitar Cambio
    </button>
  </div>

</div>

<div class="modal-overlay" *ngIf="modalAbierto">
  <div class="modal-content">
    <button class="cerrar-modal" (click)="cerrarModal()">X</button>
    <h3>Solicitar Cambio de Turno</h3>
    <form [formGroup]="solicitudForm" (ngSubmit)="enviarSolicitud()">
      <p><strong>Fecha Actual:</strong> {{ turnoSeleccionado?.fecha }}</p>
      <p><strong>Hora Actual:</strong> {{ turnoSeleccionado?.hora }}</p>
      <p><strong>Médico:</strong> {{ turnoSeleccionado?.nombreMedico }}</p>
      
      <label for="motivo">Motivo de Solicitud:</label>
      <textarea id="motivo" formControlName="motivo" placeholder="Describe el motivo"></textarea>
      <div *ngIf="solicitudForm.get('motivo')?.invalid && solicitudForm.get('motivo')?.touched" class="error-message">
        Motivo es obligatorio.
      </div>

      <label for="fechaPropuesta">Nueva Fecha (opcional):</label>
      <input id="fechaPropuesta" type="date" formControlName="fechaPropuesta">
      
      <label for="horaPropuesta">Nueva Hora (opcional):</label>
      <input id="horaPropuesta" type="time" formControlName="horaPropuesta">

      <div class="botones-modal">
        <button type="submit" class="guardar-btn">Enviar Solicitud</button>
        <button type="button" class="cancelar-btn" (click)="cerrarModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<app-modal
    [showModal]="modal.show"
    [message]="modal.message"
    [isError]="modal.isError"
    [isSuccess]="modal.isSuccess"
    (close)="modal.close()">
</app-modal>