.custom-navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: auto;
}


.navbar-brand.ms-3 {
    margin-left: 2rem !important;
}

.custom-navbar .navbar-brand {
    background-color: #40e0d0; 
    color: rgb(68, 68, 68); 
    padding: 12px 20px; 
    border-radius: 0px 25px 25px 0px; 
    font-weight: bold; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    position: relative; 
    left: -30px; 
    padding-left: calc(25px + 1rem);
}

.navbar-toggler {
    margin-right: 1rem; 
}

.navbar-nav.ms-auto.me-3 {
    margin-right: 2rem !important;
}

.navbar .nav-link {
    cursor: pointer;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff !important; 
    border-bottom: 2px solid #007bff; 
}

@media (max-width: 492px) {
    .custom-navbar .navbar-brand {
      padding: 8px 10px; 
      font-size: 14px; 
      left: -25px; 
      padding-left: 20px;
    }
  }