<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <a class="navbar-brand ms-3">Citas Médicas</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <ng-container *ngIf="isLoggedIn$ | async">
        <li class="nav-item ms-4" *ngIf="(isAdmin$ | async) || (isMedico$ | async) || (isPaciente$ | async)">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item ms-4" *ngIf="isAdmin$ | async">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Registrar</a>
        </li>
        <li class="nav-item ms-4" *ngIf="isMedico$ | async">
          <a class="nav-link" routerLink="/agenda-medico" routerLinkActive="active">Agenda</a>
        </li>
        <li class="nav-item ms-4" *ngIf="isMedico$ | async">
          <a class="nav-link" routerLink="/pacientes" routerLinkActive="active">Pacientes</a>
        </li>
        <li class="nav-item ms-4" *ngIf="isPaciente$ | async">
          <a class="nav-link" routerLink="/servicios" routerLinkActive="active">Servicios</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" routerLink="/perfil" routerLinkActive="active">perfil</a>
        </li>
      </ng-container>
    </ul>

    <ul class="navbar-nav ms-auto me-3">
      <li class="nav-item ms-4" *ngIf="isLoggedIn$ | async">
        <a class="nav-link" (click)="logout()">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>

<app-modal
[showModal]="modal.show"
[message]="modal.message"
[isError]="modal.isError"
[isSuccess]="modal.isSuccess"
[isConfirm]="modal.isConfirm"  
(close)="closeModal()"
(confirm)="modal.confirm && modal.confirm()" 
(cancel)="closeModal()">
</app-modal>