
.boton-redirigir {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.redirigir-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.redirigir-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Contenedor principal */
.notificaciones-container {
    margin: 20px;
    padding: 15px;
    background-color: #ffffff; 
    border-radius: 10px;
  }
  
  /* Título del componente */
  .notificaciones-container h2 {
    font-size: 20px;
    color: #084298; 
    margin-bottom: 15px;
    text-align: left;
  }
  
  /* Lista de solicitudes */
  .solicitudes-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Cada tarjeta de solicitud */
  .solicitud-tarjeta {
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 8px;
  }
  
  /* Bloques internos */
  .paciente-info,
  .solicitud-info {
    margin-bottom: 0px;
  }
  
  .paciente-info h3 {
    font-size: 14px;
    color: #495057; 
    margin: 0 0 5px 0;
  }
  
  .paciente-info p,
  .solicitud-info p {
    font-size: 14px;
    color: #6c757d;
  }
  
  .solicitud-info p strong {
    color: #212529; 
  }
  
  .solicitud-info .resaltar {
    font-weight: bold;
    color: #084298; 
    font-size: 16px;
    margin-left: 5px;
  }
  
  .solicitud-acciones {
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin-top: 15px;
  }
  
  .aceptar-btn,
  .rechazar-btn {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .aceptar-btn {
    background-color: #0d6efd; 
    color: white;
  }
  
  .aceptar-btn:hover {
    background-color: #0a58ca; 
  }
  
  .rechazar-btn {
    background-color: #198754; 
    color: white;
  }
  
  .rechazar-btn:hover {
    background-color: #157347; 
  }
  
  .notificaciones-container p {
    font-size: 14px;
    color: #6c757d;
    text-align: left;
    margin: 10px 0;
  }