

<div class="notificaciones-container">
    <h2>Solicitudes de Nuevos Turnos</h2>
    <ul *ngIf="solicitudesTurnos.length > 0; else noSolicitudes" class="solicitudes-lista">
      <li *ngFor="let item of solicitudesTurnos" class="solicitud-item">
        <div class="solicitud-tarjeta">
          <div class="paciente-info">
            <h3>{{ item.paciente?.nombres | titlecase}} {{ item.paciente?.apellidos | titlecase }}</h3>
          </div>
          <div class="solicitud-info">
            <p><strong>Motivo:</strong> {{ item.solicitud.motivo }}</p>
            <p><strong>Fecha Propuesta:</strong> 
              <span class="resaltar">{{ item.solicitud.fechaPropuesta || 'No especificada' }}</span>
            </p>
            <p><strong>Hora Propuesta:</strong> 
              <span class="resaltar">{{ item.solicitud.horaPropuesta || 'No especificada' }}</span>
            </p>
          </div>
          <div class="solicitud-acciones">
            <button class="aceptar-btn">Aceptar</button>
            <button class="rechazar-btn" (click)="abrirModalRechazarSolicitud(item.solicitud.id)">Rechazar</button>
          </div>
        </div>
      </li>
    </ul>
  
    <ng-template #noSolicitudes>
      <p>No hay solicitudes pendientes de nuevos turnos.</p>
    </ng-template>
  </div>

  <app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isConfirm]="modal.isConfirm"
  (close)="cerrarModal()"
  (confirm)="modal.confirm && modal.confirm()">
</app-modal>