<app-spinner></app-spinner>
<div class="container">
  <h1>Servicios del Paciente</h1>
  <div class="buttons">
    <button 
      [class.active]="selectedButton === 'citas'" 
      (click)="navigateTo('citas')">
      Citas
    </button>
    <button 
      [class.active]="selectedButton === 'diagnosticos'" 
      (click)="navigateTo('diagnosticos')">
      Diagnósticos
    </button>
    <button 
      [class.active]="selectedButton === 'tratamientos'" 
      (click)="navigateTo('tratamientos')">
      Tratamientos
    </button>
  </div>


  <div *ngIf="!selectedButton">
    <p>Seleccione un servicio para visualizar la información.</p>
  </div>


  <router-outlet *ngIf="selectedButton"></router-outlet>
</div>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isConfirm]="modal.isConfirm"
  [showRedirectButton]="modal.showRedirectButton ?? false"
  (close)="closeModal()"
  (confirm)="modal.confirm && modal.confirm()"
  (cancel)="closeModal()"
  (redirect)="modal.redirect && modal.redirect()">
</app-modal>