<div class="pacientes-container">
    <div class="primer-bloque">
      <button class="boton-accion boton-agregar" (click)="abrirModal()">
        <span class="icono">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
          </svg>
        </span>
        Agregar Paciente
      </button>
      <button class="boton-accion boton-buscar" (click)="irAgendaMedico()">
        <span class="icono">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
            <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
          </svg>
        </span>
        Buscar por Fecha
      </button>
    </div>

    <div class="modal" *ngIf="modalAbierto">
      <div class="modal-content">
        <h2>Agregar Paciente</h2>
        
        <form [formGroup]="pacienteForm" (ngSubmit)="agregarPaciente()">
    
          <div class="form-row">
            <div class="form-group">
              <label for="nombres">Nombres</label>
              <input id="nombres" formControlName="nombres" type="text" required [ngClass]="{'error': nombres?.invalid && nombres?.touched}">
              <span *ngIf="nombres?.invalid && nombres?.touched" class="error-icon"></span>
              <div *ngIf="nombres?.invalid && nombres?.touched" class="error-message">
                {{ nombres?.hasError('required') ? 'Campo obligatorio' : '' }}
              </div>
            </div>
            <div class="form-group">
              <label for="apellidos">Apellidos</label>
              <input id="apellidos" formControlName="apellidos" type="text" required [ngClass]="{'error': apellidos?.invalid && apellidos?.touched}">
              <span *ngIf="apellidos?.invalid && apellidos?.touched" class="error-icon"></span>
              <div *ngIf="apellidos?.invalid && apellidos?.touched" class="error-message">
                {{ apellidos?.hasError('required') ? 'Campo obligatorio' : '' }}
              </div>
            </div>
          </div>
    
          <div class="form-row">
            <div class="form-group">
              <label for="cedula">Cédula</label>
              <input id="cedula" 
                     formControlName="cedula" 
                     type="number" 
                     required 
                     cedulaEcuatoriana 
                     [ngClass]="{'error': cedula?.invalid && cedula?.touched}">
              <span *ngIf="cedula?.invalid && cedula?.touched" class="error-icon"></span>
              <div *ngIf="cedula?.invalid && cedula?.touched" class="error-message">
                {{ cedula?.hasError('required') ? 'Campo obligatorio' : '' }}
                {{ cedula?.hasError('cedulaEcuatoriana') ? 'Cédula no válida' : '' }}
              </div>
            </div>

            <div class="form-group">
              <label for="correo">Correo</label>
              <input id="correo" formControlName="correo" type="email" required [ngClass]="{'error': correo?.invalid && correo?.touched}">
              <span *ngIf="correo?.invalid && correo?.touched" class="error-icon"></span>
              <div *ngIf="correo?.invalid && correo?.touched" class="error-message">
                {{ correo?.hasError('required') ? 'Campo obligatorio' : correo?.hasError('email') ? 'Formato de correo incorrecto' : '' }}
              </div>
            </div>
          </div>
    
          <div class="form-row">
            <div class="form-group">
              <label for="direccion">Dirección</label>
              <input id="direccion" formControlName="direccion" type="text" required [ngClass]="{'error': direccion?.invalid && direccion?.touched}">
              <span *ngIf="direccion?.invalid && direccion?.touched" class="error-icon"></span>
              <div *ngIf="direccion?.invalid && direccion?.touched" class="error-message">
                {{ direccion?.hasError('required') ? 'Campo obligatorio' : '' }}
              </div>
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input id="telefono" formControlName="telefono" type="number" [ngClass]="{'error': telefono?.invalid && telefono?.touched}">
              <span *ngIf="telefono?.invalid && telefono?.touched" class="error-icon"></span>
              <div *ngIf="telefono?.invalid && telefono?.touched" class="error-message">
                {{ telefono?.hasError('required') ? 'Campo obligatorio' : '' }}
              </div>
            </div>
          </div>
    
          <div class="modal-buttons">
            <button type="button" class="modal-btn" (click)="cerrarModal()">Cancelar</button>
            <button type="submit" class="modal-btn">Guardar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal" *ngIf="modalEditarAbierto">
        <div class="modal-content">
          <h2>Editar Paciente</h2>
          
          <form [formGroup]="editarPacienteForm" (ngSubmit)="editarPaciente(pacienteAEditar?.id!)">
            <div class="form-row">
              <div class="form-group">
                <label for="nombres">Nombres</label>
                <input id="nombres" formControlName="nombres" type="text" required>
              </div>
              <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input id="apellidos" formControlName="apellidos" type="text" required>
              </div>
            </div>
      
            <div class="form-row">
              <div class="form-group">
                <label for="direccion">Dirección</label>
                <input id="direccion" formControlName="direccion" type="text">
              </div>
            </div>
      
            <div class="modal-buttons">
              <button type="button" class="modal-btn"(click)="cerrarModalEditar()">Cancelar</button>
              <button type="submit" class="modal-btn">Guardar Cambios</button>
            </div>
          </form>
        </div>
    </div>

      <!-- Modal para agendar turno -->
    <div class="modal-turno-overlay" *ngIf="modalTurnoAbierto">
        <div class="modal-turno-content">
          <button class="cerrar-modal-turno" (click)="cerrarModalTurno()">X</button>
          <app-paciente-turno 
          [paciente]="pacienteSeleccionadoParaTurno" 
          [medicoId]="medicoData?.id || ''"  
          (turnoAgendado)="actualizarTurnos($event); cerrarModalTurno()">
          </app-paciente-turno>
        </div>
    </div>
</div>

<div class="tabla-pacientes" *ngIf="pacientes.length > 0">
    <table>
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Fecha del Turno</th>
          <th>Hora del Turno</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes" (click)="seleccionarPaciente(paciente)" [ngClass]="{ 'activo': paciente.id === pacienteActivoId }">
          <td>{{ paciente.nombres | titlecase }}</td>
          <td>{{ paciente.apellidos | titlecase }}</td>
          <td>
            {{ paciente.turnos?.[0]?.fecha || 'Sin fecha' }}
          </td>
          <td>
            {{ paciente.turnos?.[0]?.hora || 'Sin hora' }}
          </td>
          <td>
            <button class="accion-btn calendario-btn" (click)="abrirTurnoPaciente(paciente); $event.stopPropagation()">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M200-640h560v-80H200v80Zm0 0v-80 80Zm0 560q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v227q-19-9-39-15t-41-9v-43H200v400h252q7 22 16.5 42T491-80H200Zm520 40q-83 0-141.5-58.5T520-240q0-83 58.5-141.5T720-440q83 0 141.5 58.5T920-240q0 83-58.5 141.5T720-40Zm67-105 28-28-75-75v-112h-40v128l87 87Z"/>
              </svg>
            </button>
            <button class="accion-btn editar-btn" (click)="abrirModalEditar(paciente); $event.stopPropagation()">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M160-400v-80h280v80H160Zm0-160v-80h440v80H160Zm0-160v-80h440v80H160Zm360 560v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T863-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/>
              </svg>
            </button>
            <button class="accion-btn eliminar-btn" (click)="eliminarPaciente(paciente.id!); $event.stopPropagation()">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div *ngIf="pacienteService.pacienteSeleccionado$ | async as pacienteSeleccionado" class="paciente-datos-container">
    <!--<button class="cerrar-btn" (click)="cerrarPacienteSeleccionado()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
      </svg>
    </button>-->
    <app-paciente-datos 
    (agendarTurno)="abrirTurnoPaciente($event)">
  </app-paciente-datos>
</div>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isConfirm]="modal.isConfirm"
  [showRedirectButton]="modal.showRedirectButton ?? false" 
  (close)="closeModal()"
  (confirm)="modal.confirm && modal.confirm()" 
  (cancel)="closeModal()"
  (redirect)="modal.redirect && modal.redirect()">
</app-modal>
  