<div class="notificaciones-container">
  <div class="notificaciones-header" (click)="toggleDropdown()">
    <p><strong>Tienes {{ solicitudesPendientes.length }} solicitud(es) pendiente(s)</strong></p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#1b1b1b"
      class="dropdown-icon"
      [class.open]="isDropdownOpen">
      <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
    </svg>
  </div>

  <ul *ngIf="isDropdownOpen" class="notificacion-lista">
    <li
      *ngFor="let solicitud of solicitudesPendientes"
      class="notificacion-item"
      (click)="verSolicitud(solicitud.solicitud)">
      <span>Paciente: {{ solicitud.nombrePaciente | titlecase }}</span>
    </li>
  </ul>
</div>