.hero-container {
    margin-top: 25px; 
  }

.footer-container{
    margin-top: 4rem;
}

@media (max-width: 768px) {
  .hero-container {
    margin-top: 0px; 
  }
}

@media (max-width: 492px) {
  .hero-container {
    margin-top: -10px; 
  }
}