<div class="paciente-turno-container">
    <div class="row">
      <div class="sub-bloque calendario">
        <h3>Seleccionar Fecha</h3>
        <input type="date" [(ngModel)]="fechaSeleccionada" [min]="fechaMinima" (change)="onFechaSeleccionadaChange($event)"/>
      </div>
  
      <div class="sub-bloque hora">
        <h3>Seleccionar Hora</h3>
        <select [(ngModel)]="horaSeleccionada">
          <option value="" disabled selected>Seleccionar hora</option>
          <option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora }}</option>
        </select>
      </div>
    </div>

    <div class="instrucciones">
      <h3>Instrucciones para el Paciente (opcional)</h3>
      <textarea [(ngModel)]="instrucciones" placeholder="Indicaciones..."></textarea>
    </div>
  
    <div class="boton-agendar">
      <button (click)="agendarTurno()">Agendar Turno</button>
    </div>
  </div>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isConfirm]="modal.isConfirm"
  (close)="cerrarModal()"
  (confirm)="modal.confirm && modal.confirm()">
</app-modal>