.hero-container {
  width: 100%;
  height: auto; 
  margin: 20px 0px 0px 0px;
  padding: 20px 0px;
  padding-right: 25px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 20px; 
}

 .container {
  display: flex;
  margin-left: 5%;
  flex-direction: column;
  align-items: flex-start;
  width: 80%; 
  gap: 15px;
}

.hero-welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome-title {
  width: 100%;
  color: #40e0d0;
  font-weight: bold;
  text-align: left;
}
  
.welcome-title  {
  font-size: 2rem; 
  font-weight: normal; 
  color: rgb(45, 180, 173);
}

.user-name {
  font-size: 1.6rem; 
  color: #8f8f8f;  
}

.welcome-title .user-icon {
  margin-left: .5rem; 
  height: 28px;
  width: 28px;
  fill: #8f8f8f; 
  vertical-align: middle;
}

.web-description {
  margin-top: 10px;
  font-size: 55px; 
  font-weight: bold;
  color: #444;
  line-height: 1.2;
  text-align: left;
}

.welcome-text {
  color: black;
  font-size: 16px;
  margin-top: 8px;
}

.hero-buttons {
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  margin-top: 5rem;
  gap: 15px;
}

.hero-button {
  border-radius: 5px;
  padding: 12px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none; 
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  width: 170px; 
  max-width: 100%;
}

.hero-button:nth-child(1) {
  background-color: #40e0d0;
  color: #333;
  border: none;
}

.hero-button:nth-child(1):hover {
  background-color: #3bc7ba;
}

.hero-button:nth-child(2) {
  background-color: rgba(89, 86, 86, 1); 
  color: white;
  border: none;
}

.hero-button:nth-child(2):hover {
  background-color: rgba(110, 107, 107, 1); 
}

.row {
  width: 70%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.col-image {
  width: 100%;
  display: flex;
  margin-right: 7rem;
  justify-content: center;
}

.hero-image {
  width: 60%;
  object-fit: cover;
  }


/* Estilos responsivos */
@media (max-width: 992px) {
  .hero-container .container {
      align-items: left; 
      text-align: left; 
  }

  .hero-welcome {
      width: 100%; 
      align-items: left; 
  }

  .welcome-title {
      text-align: left;
      font-size: 27px; 
  }

  .welcome-text {
      font-size: 16px; 
  }

  .web-description{
    font-size: 3rem;
  }

  .hero-buttons {
      justify-content: left; 
  }


  .row {
      flex-direction: column; 
  }
}

@media (max-width: 768px) {
  .hero-container{
    padding-right: 0px;
  }
  .container{
    padding-left: 12px;
  }

  .hero-welcome {
      width: 100%;  
  }

  .welcome-title {
      text-align: left;
      font-size: 22px; 
  }

  .user-name {
      font-size: 1.4rem;  
  }

  .welcome-text {
      font-size: 15px; 
  }

  .web-description{
    font-size: 2.8rem;
  }

  .hero-buttons {
    margin-top: 3rem;
      align-items: left;
  }

  .hero-button {
    padding: 10px 13px;
    font-size: 12px;
    width: 150px; 
    max-width: 100%;
  }
  .row {
    width: 17%;
  }
  .col-image {
    display: none;
  }
}

@media (max-width: 492px) {

  .container{
    padding-left:0px;
    padding: 0px;
  }
  
  .hero-welcome {
      width: 100%;  
  }

  .welcome-title {
      text-align: left;
      font-size: 20px; 
  }

  .web-description{
    font-size: 2rem;
  }

  .welcome-text {
      font-size: 14px; 
  }

  .hero-buttons {
      flex-direction: column; 
      align-items: left; 
      gap: 10px; 
  }

  .hero-button {
      width: 100%; 
      padding: 12px 10px; 
      font-size: 12px; 
  }

  .row {
      flex-direction: column;
  }

  .row {
    width: 0%;
  }
}